@import "tailwindcss";
@import "@nuxt/ui";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Sky Text";
  src: url("https://static.skyassets.com/fonts/sky-regular.woff2") format("woff2");
  font-display: fallback;
}
@theme {
  --font-sky: 'Sky Text', Arial;
  --font-arial: Arial, sans-serif;
}